* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  display: grid;
  min-height: 100vh;
}

main {
  justify-self: center;
  align-self: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  max-width: 82.1rem;
  gap: 20rem;
}

#timer {
  display: flex;
  flex-direction: column;
  width: 32.1rem;
  align-items: center
}

#time button {
  font-size: 10rem;
  line-height: 14.8rem;
  text-align: center;
  color: #323238;
  display: flex;
}

#controls {
  display: flex;
  gap: 2rem;
}

#controls button svg:hover {
  padding: 1px;
}

button {
  background-color: transparent;
  border: none;

  cursor: pointer;
}

#cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 3.2rem;
}

#cards button svg:hover {
  padding: .1rem;
}

.emphasis svg path:nth-child(1) {
  fill: #02799D;  
}

.emphasis svg path:nth-child(2) {
  fill: white;
}